@import "../../global.scss";

.portfolio{
  color: $mainLightColor;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  .title{
    font-size: 4vh;
    font-weight: 600;
    margin-bottom: 1vh;
  }
  
}