@import "../../global.scss";

.contact{
  color: $mainLightColor;
  display: flex;
  flex-direction: column;
  text-align: center;

  .title{
    font-size: 4vh;
    font-weight: 600;
    margin-bottom: 1vh;
    text-decoration: underline;
    text-decoration-color: #f05f95;
  }
}