@import "../../global.scss";

.intro{
  background-color: $mainLightColor;
  display: flex;
  color: $mainDarkColor;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  h1{
    padding: 10px;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .profiles{
    .p{
      font-size: 60px;
    }
  }
  .icon{
    color: $mainDarkColor;
    font-size: 60px;
  }

  .skills{
    flex: 80%;
    background-color:inherit;
    overflow: hidden;

    .bio{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #about{
      width: 80%;
      margin-left: 10%;
      color: $mainDarkColor;
      h4{
        padding: 5px;
        margin: 5px;
      }
    }

    .imgContainer{
      width: 40%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;

      .logo{
        margin: 5px;
        border-style: solid;
        border-radius: 15%;
        background-color: $mainDarkColor;
        color: $mainLightColor;
      }

      img{
        width: 15%;
        height: auto;
        padding: 10px;
      }
    }

  }

  .profiles{
    flex: 20%;
    background-color: inherit;
  }
}