@import "../../global.scss";

.intro{
  background-color: $mainTextColor;
  display: flex;
  


  a{
    color: $mainBackgroundColor;
    text-decoration: none;
  }

  .githubIcon{
    color: $mainBackgroundColor;
    font-size: 72px;
  }
}

