@import "../../global.scss";

.intro{
  background-color: $mainLightColor;
  display: flex;
  color: $mainDarkColor;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  h1{
    padding: 20px;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .icon{
    color: $mainDarkColor;
    font-size: 100px;
  }

  .skills{
    flex: 66.66%;
    background-color:orange;
    overflow: hidden;

    .imgContainer{
      width: 10%;
      height: 100%;

      .logo{
        margin: 5px;
        border-style: solid;
        border-radius: 10%;
      }

      img{
        width: 100%;
        height: auto;
        padding: 10px;
      }
    }

  }

  .profiles{
    flex: 33.33%;
    background-color: green;
  }
}

